body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-color: #333;
}

h1 {
    font-size: 3rem;
}

main {
    padding: 50px 20px;
}

button {
    background-color: #ff477e;
    padding: 15px 30px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ff5f9e;
}
